# Ignorar el frontend para este build de backend
frontend/

# Ignorar archivos locales del backend
backend/vendor
backend/node_modules
backend/.env
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*

# Archivos de Git y Docker
.git
.gitignore
Dockerfile
.dockerignore
render.yaml
